
﻿@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model List<Doctor>

@{
    ViewData["Title"] = "List of Doctor";
}


    <nav class="navbar navbar-light bg-light">
        <div class="col-md-10 align-content-lg-start" style="text-align: left;">
            <h1>Doctor</h1>
        </div>
        @*<a class="nav-link" asp-controller="Doctor" asp-action="index">List</a>*@
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.DoctorPatientManagement.Create)).Result.Succeeded)
        {
            <a class="nav-link" asp-controller="Doctor" asp-action="create">Add</a>
        }
    </nav>
    
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Fee</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@data.Name</td>
                        <td>@data.Phone</td>
                        <td>@data.Charge</td>
                        <td>
                            <select class="form-control-plaintext" asp-for="@data.DepID" asp-items="ViewBag.DepartmentList" disabled></select>
                        </td>
                        <td>
                            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.DoctorPatientManagement.Edit)).Result.Succeeded)
                            {
                                <a asp-controller="Doctor" asp-action="Edit" class="btn btn-outline-info btn-sm" asp-route-Id="@data.DoctorID">Edit</a>
                            }
                            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.DoctorPatientManagement.View)).Result.Succeeded)
                            {
                                <a asp-controller="Doctor" asp-action="Details" class="btn btn-outline-secondary btn-sm" asp-route-Id="@data.DoctorID">Details</a>
                            }
                            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.DoctorPatientManagement.Delete)).Result.Succeeded)
                            {
                                <a asp-controller="Doctor" asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-Id="@data.DoctorID">Delete</a>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
@*@section scripts {
    <script type="text/javascript">
        $("document").ready(function() {
            
                debugger
                //var departmentID = (("#depId").find(":selected").val());
                ("#depId").val();
            
        }).trigger(change);
    </script>
}*@