@model List<DoctorTiming>

@{
    ViewData["Title"] = "Doctor's availability details";
}


    <nav class="navbar navbar-light bg-light">
        <div class="col-md-10 align-content-lg-start" style="text-align: left;">
            <h1>Doctor's Availability</h1>
        </div>
        <a class="nav-link" asp-controller="DoctorTiming" asp-action="create">Add</a>
    </nav>
    
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Doctor</th>
                    <th>AvailableTime</th>
                    <th>DateAvailable</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var data in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>
                            <select class="form-control-plaintext" asp-for="@data.DoctorID" asp-items="ViewBag.DoctorList" disabled></select>
                        </td>
                        <td>@data.AvailableTime.Hours : @data.AvailableTime.Minutes @*@data.AvailableTime*@</td>
                        @*<td>@data.AvailableTime.Hours : @data.AvailableTime.Minutes @data.AvailableTime</td>*@
                        <td>@data.DateAvailable.ToShortDateString()</td>
                        <td>
                            <a asp-controller="DoctorTiming" asp-action="Edit" class="btn btn-outline-info btn-sm" asp-route-Id="@data.DrTimeID">Edit</a>
                            <a asp-controller="DoctorTiming" asp-action="Details" class="btn btn-outline-secondary btn-sm" asp-route-Id="@data.DrTimeID">Details</a>
                            <a asp-controller="DoctorTiming" asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-Id="@data.DrTimeID">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>